.par {
  display: flex;
  justify-content: center;
}

.container {
  padding: 25px 200px;

  background-color: rgba(243, 243, 245, 0.9);
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
.header img {
  width: 23rem;
  height: 8rem;
}
@media only screen and (max-width: 600px) {
  .container {
    padding: 25px 78px;
    background-color: rgba(243, 243, 245, 0.9);
  }
  .header img {
    width: 15rem;
    height: 8rem;
  }
}
