.org {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.continer {
  background-color: rgba(243, 243, 245, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 22rem;
  padding: 7px;
  border-radius: 9px;
  margin-top: 10px;
}

.continer img {
  width: 45vh;
  height: 35vh;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 9px;
  transition: 0.5s;
}
.continer img:hover {
  transform: translateX(30px) rotate(8deg);
}
.popname {
  display: flex;
}

.population {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
}
.area {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
}
.continerRight {
  width: 500px;
  height: 550px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgba(243, 243, 245, 0.9);
  border-radius: 9px;
  margin-top: 10px;
}
.Details {
  padding-left: 5px;
}

.rightcon {
  margin-top: 8px;

  display: flex;
  justify-content: space-between;
  border-radius: 9px;
  transition: 0.5s;
}

.rightcon :hover {
  transform: translate(7px, 0);
}
.rightcon p {
  margin-right: 19px;
}
.first {
  color: rgb(158, 157, 157);
  margin-left: 19px;
}
@media only screen and (max-width: 600px) {
  .main {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .continerRight {
    width: 330px;
    height: 550px;
  }
  .continer {
    padding: 0;
  }
}

@media only screen and (min-width: 600px) {
  .main {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .continerRight {
    width: 420px;
    height: 550px;
  }
}
@media only screen and (min-width: 768px) {
  .main {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .continerRight {
    width: 520px;
    height: 550px;
  }
}

@media only screen and (min-width: 992px) {
  .main {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .continerRight {
    width: 540px;
    height: 550px;
  }
}
@media only screen and (min-width: 1200px) {
}
