:root {
  --text-color: #124a61;
  --text-color-secondary: #b3c5cd;
  --primary-color: #21b6b7;
  --background-color: #f9f9f9;
  --background-color-dark: #eef3f6;
  --backgrond-color-light: #ffffff;
  --font-family: sans-serif;
  --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Tahoma;
  color: var(--text-color);
  background-image: url(../public/images/458140.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
